---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Navegacion from "../components/Navegacion.astro";
import Hero from "../components/Hero.astro";
---

<Layout title="Welcome to Astro.">
  <main
    class="snap-y snap-mandatory relative w-full h-screen overflow-y-auto overflow-x-hidden scroll-smooth"
  >
    <Navegacion />
    <Hero />
  </main>
</Layout>
